.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}
.note{
font-size:15px;
color: black;
}
body{
background-size:cover;
}
#song{
font-size: 23px;
margin: 15px;
}
canvas{
    border:5px solid whitesmoke;
    border-radius:20px
    }
    .Play_button{
    width: 190px;
    font-size: 25px;
    margin-top: 25px;
    height: 40px;
    }